{#graphql
  query ($node: String!) {
    node:nodeById(id: $node) {
      type: __typename
      ...Page
      ...Forum
    }
  }
#}
{% if graphql.node.type == 'NodePage' %}
    {% include '@storybook/node/page/page.html.twig' with graphql.node %}
{% elseif graphql.node.type == 'NodeForum' %}
    {% include '@storybook/node/forum/forum.html.twig' with graphql.node %}
{% else %}
    <section class="text inner">
        {{ content }}
    </section>
{% endif %}
