<div class="tagline__tag">{{ tagline }}</div>
<h2 class="tagline__title">{{ title }}</h2>
</br>
<div class="tagline__tag">{{ tagline }}</div>
<h2 class="tagline__title tagline__title-small">{{ title }}</h2>
