.block--partners {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .block-content {
    @include breakpoint(small down) {
      margin-bottom: 32px;
    }
    @include breakpoint(medium) {
      width: 40%;
      flex-shrink: 0;
      margin-top: 22.5%;
    }
    .field--name-field-heading {
      margin-bottom: 16px;
      @include breakpoint(medium) {
        margin-bottom: 24px;
      }
    }

    .field--name-field-p-link {
      @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      > .field__item {
        @include breakpoint(small down) {
          margin-top: 16px;
          &:not(:first-child) {
            display: none;
          }
        }
        @include breakpoint(medium) {
          margin-right: 24px;
          margin-top: 24px;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        @include breakpoint(large) {
          margin-right: 48px;
        }
      }
    }
  }
  .partners-wrapper {
    @include breakpoint(medium) {
      width: 49%;
      max-width: 640px;
      flex-shrink: 0;
    }
    .field--name-field-p-link {
      margin-top: 24px;
      @include breakpoint(medium) {
        display: none;
      }
      > .field__item {
        @include breakpoint(small down) {
          &:first-child {
            display: none;
          }
        }
      }
    }
  }
}
