<div class="page">
  {% if hero %}
    {% include '@storybook/paragraphs/paragraphs.html.twig' with {
      paragraphs: [ hero ],
      class: 'hero'
    } %}
  {% endif %}
  {% if paragraphContent %}
    {% include '@storybook/paragraphs/paragraphs.html.twig' with {
      paragraphs: paragraphContent
    } %}
  {% endif %}
</div>
