<div class="page">
  {% if hero %}
    {% include '@storybook/paragraphs/paragraphs.html.twig' with {
      paragraphs: [hero],
      isHero: true,
      heroTitle: title
    } only %}
  {% endif %}
  {% if paragraphContent %}
    {% include '@storybook/paragraphs/paragraphs.html.twig' with {
      paragraphs: paragraphContent
    } only %}
  {% endif %}
</div>
