<div class="page">
  {% if hero %}
    {% include '@storybook/paragraphs/paragraphs.html.twig' with {
      paragraphs: [ hero ],
      class: 'hero',
      data: {
        title: {
          element: 'h1',
          value: title
        }
      }
    } %}
  {% endif %}
  {% if paragraphContent %}
    {% include '@storybook/paragraphs/paragraphs.html.twig' with {
      paragraphs: paragraphContent
    } %}
  {% endif %}
</div>
