.taxonomy-term--type-category {
  &.taxonomy-term--view-mode-featured-teaser {
    max-width: 528px;
    .field--name-field-image {
      padding-bottom: 64.4%;
      position: relative;
      @include breakpoint(large) {
        margin-bottom: 12px;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .term-content {
      @include breakpoint(medium down) {
        display: none;
      }
      h5 {
        font-weight: $global-weight-medium;
        line-height: inherit;
        a {
          @include link(more);
        }
      }
    }
  }
}
