# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/docroot/sites/*/*settings*.php
/docroot/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/docroot/sites/*/files
/docroot/sites/*/public
/docroot/sites/*/private
/docroot/sites/*/files-public
/docroot/sites/*/files-private

# Ignore paths that may contain temporary files
/docroot/sites/*/translations
/docroot/sites/*/tmp
/docroot/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
.editorconfig
.gitattributes
/docroot/README.md
/docroot/vendor
/docroot/core
/docroot/modules/README.txt
/docroot/profiles/README.txt
/docroot/sites/development.services.yml
/docroot/sites/example.settings.local.php
/docroot/sites/example.sites.php
/docroot/sites/README.txt
/docroot/themes/README.txt
/docroot/.csslintrc
/docroot/.editorconfig
/docroot/.eslintignore
/docroot/.eslintrc.json
/docroot/.gitattributes
/docroot/.htaccess
/docroot/.ht.router.php
/docroot/autoload.php
/docroot/composer.json
/docroot/composer.lock
/docroot/example.gitignore
/docroot/index.php
/docroot/INSTALL.txt
/docroot/LICENSE.txt
/docroot/README.txt
/docroot/robots.txt
/docroot/update.php
/docroot/web.config

# Ignore vendor dependencies, contrib, libraries and scripts
/vendor
/docroot/libraries/
/docroot/modules/contrib/
/docroot/themes/contrib/
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal
