.main-menu {
  height: 100%;

  &__action {
    height: 100%;
    padding: var(--space-200);
    position: relative;
    /* make button align with inner padding */
    margin-right: calc(-1 * var(--space-200));

    .icon {
      position: relative;
      z-index: 3;
    }

    @media (--desktop-up) {
      display: none;
    }

    &--icon-close.icon {
      display: none;

      .visible & {
        display: inline-flex;
      }
    }

    &--icon-menu.icon {
      .visible & {
        display: none;
      }
    }

    &::after {
      content: "";
      position: fixed;
      border-radius: 50%;
      opacity: 0;
      left: calc(-130vmax + 50%);
      top: calc(-130vmax + 50%);
      width: 260vmax;
      height: 260vmax;
      background: var(--blue);
      display: block;
      z-index: 2;
      transform: scale3d(0, 0, 0);
      transform-origin: 50% 50%;
      transition: 0.3s ease-in-out transform, 0.2s 0.4s ease-in-out opacity;

      .visible & {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        transition: 0.3s ease-in-out transform, 0.1s ease-in-out opacity;
      }
    }
  }

  &__menu {
    height: 100%;

    @media (--desktop-down) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: -1;

      .visible & {
        opacity: 1;
        transition: 0.2s 0.3s ease-in-out opacity;
        z-index: 2;
      }
    }
  }

  &__items {
    display: flex;
    font-weight: var(--weight-l);
    height: 100%;

    @media (--desktop-down) {
      flex-direction: column;
      align-items: center;
      overflow-y: auto;

      &::before,
      &::after {
        content: ""; /* Insert pseudo-element */
        margin: auto; /* Make it push flex items to the center */
      }
    }
  }

  &__link {
    color: var(--white);
    padding: var(--space-400);
    display: block;

    @media (--desktop-up) {
      display: flex;
      align-items: center;
      height: 100%;
      color: var(--grey);
      border-bottom: 3px solid transparent;
      padding-top: 0;
      padding-bottom: 0;
    }

    &:--link-states {
      text-decoration: none;
      color: var(--dark-blue);
    }

    &.active {
      color: var(--dark-blue);
      border-color: var(--blue);
    }
  }
}
