/* Styles here are not used in the project, these are storybook specific styles */
@import '../css/all.css';

.story-wrapper {
  padding: 0 var(--space-100) var(--space-500) var(--space-100);

  @media (--desktop-up) {
    padding: 0 var(--space-500) var(--space-1200) var(--space-500);
  }

  &.invert {
    background-color: var(--black);
  }
}

.shadow-wrapper,
.icons-wrapper,
.color-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: var(--space-1200);

  p {
    margin-bottom: 0;
  }
}

.form {
  &__item:not(:first-child) {
    padding: var(--space-200) 0;
  }

  p {
    margin-bottom: 0;
  }
}

.item {
  margin: var(--space-300) var(--space-300) 0 0;
  padding: var(--space-300);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &--icon {
    background-color: #e0e0e0;
    border: 1px solid rgba(235, 235, 243, 1);
    min-width: 300px;
  }
}

.label {
  margin-top: var(--space-300);
}

.color,
.shadow {
  display: block;
  width: 240px;
  height: 170px;
  border-radius: 6px;
  position: relative;
  border: 1px solid rgba(172, 172, 172, 0.3);
  background-color: rgba(235, 235, 243, 0.3);
}

.white {
  background-color: var(--white);
}

.black {
  background-color: var(--black);
}

.dark-grey {
  background-color: var(--dark-grey);
}

.light-grey {
  background-color: var(--light-grey);
}

.blue {
  background-color: var(--blue);
}

.dark-blue {
  background-color: var(--dark-blue);
}

.light {
  font-weight: var(--weight-s);
}

.shadow-30 {
  box-shadow: var(--shadow-30);
}

.shadow-70 {
  box-shadow: var(--shadow-70);
}

.shadow-95 {
  box-shadow: var(--shadow-95);
}

.shadow-inset-white {
  box-shadow: var(--shadow-inset-white);
}
