.footer {
  padding: 0 0 var(--space-400) 0;
  background-color: var(--dark-blue);

  &__sponsors {
    text-align: right;

    &--wrapper {
      padding: var(--space-400) 0;
      background-color: var(--light-grey);
    }

    &--text {
      margin-bottom: 0;
    }
  }

  &__menu {
    padding-top: var(--space-400);
  }
}
