<footer class="footer">
  {% if links %}
    <div class="footer-menu inner">
      {% include '@storybook/menu/menu.html.twig' with {
        type: 'footerMenu',
        links: links
      } only %}
    </div>
  {% endif %}
</footer>
