<footer class="footer">
  <div class="footer__sponsors">
    <div class="inner">
      <p class="footer__sponsors--text">
        {{ 'Hosting powered by' | t }}&nbsp;
        <a href="https://amazee.io" target="_blank" rel="noopener noreferrer">
          amazee.io
        </a>
        <span class="icon amazeeio large"></span>
      </p>
    </div>
  </div>
  {% if links %}
    <div class="footer__menu">
      <div class="inner">
        {% include '@storybook/menu/menu.html.twig' with {
          type: 'footerMenu',
          links: links
        } only %}
      </div>
    </div>
  {% endif %}
</footer>
