<footer class="footer">
  <div class="footer__sponsors--wrapper">
    <div class="footer__sponsors inner">
      <p class="footer__sponsors--text">
        {{ 'Hosting powered by '|t }}
        <a href="https://amazee.io" target="_blank" rel="noopener noreferrer">
          amazee.io
        </a>
        <span class="icon amazeeio large"></span>
      </p>
    </div>
  </div>
  {% if links %}
    <div class="footer__menu inner">
      {% include '@storybook/menu/menu.html.twig' with {
        type: 'footerMenu',
        links: links
      } only %}
    </div>
  {% endif %}
</footer>
