.image {
  @mixin hero-wrapper;

  &__media {
    @mixin hero-image;
  }

  &__title {
    text-shadow: var(--shadow-95);
    word-spacing: 100vw; /* Added for Edge browsers */

    @media (--desktop-down) {
      font-size: 10vw;
    }
  }

  &__content {
    @mixin hero-content;
  }
}
