.image {
  @mixin overlay;

  position: relative;
  height: auto;
  overflow: hidden;
  min-height: var(--media-height-mobile);

  @media (--desktop-up) {
    min-height: var(--media-height-desktop);
  }

  &__media {
    @mixin object-fit;

    min-height: var(--media-height-mobile);

    @media (--desktop-up) {
      min-height: var(--media-height-desktop);
    }
  }

  &__title {
    text-shadow: var(--shadow-95);
    word-spacing: 100vw; /* Added for Edge browsers */

    @media (--desktop-down) {
      font-size: 10vw;
    }
  }

  &__content {
    @mixin section-padding;

    @media (--desktop-up) {
      width: 75%;
    }

    &--wrapper {
      position: relative;
      z-index: 1;
    }
  }
}
