<div class="page">
  {% block header %}
    {% if mainMenu %}
      {% include '@storybook/header/header.html.twig' with mainMenu only %}
    {% endif %}
  {% endblock %}

  {% block content %}
    <main class="page__main-content" id="main-content">
      {{ page.content }}
    </main>
  {% endblock %}

  {% block footer %}
    {% if footerMenu %}
      {% include '@storybook/footer/footer.html.twig' with footerMenu only %}
    {% endif %}
  {% endblock %}
</div>
