<div class="page">
  {% block header %}
    {% include '@storybook/header/header.html.twig' %}
  {% endblock %}

  {% block content %}
    <main class="page__main-content" id="main-content">
      {{ page.content }}
    </main>
  {% endblock %}

  {% block footer %}
    {% include '@storybook/footer/footer.html.twig' %}
  {% endblock %}
</div>
