.logo-cloud {
  padding-top: var(--space-400);
  padding-bottom: var(--space-400);

  &__title {
    margin-bottom: var(--space-400);
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-400);

    @media (--desktop-up) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__text {
    margin-bottom: var(--space-400);
  }

  &__cloud-title {
    margin-bottom: var(--space-400);
  }
}
