<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="logo-cloud inner">
  {% if title %}
    {% include '@twig/components/tagline/tagline.html.twig' with {
      tagline: tagline,
      title: title,
      variant: 'small',
      class: 'logo-cloud__title'
    } only %}
  {% endif %}

  {% if text and text.processed is not empty %}
    <div class="logo-cloud__text wysiwyg">{{ text.processed | raw }}</div>
  {% endif %}

  {% if cloudTitle %}
    <h3 class="logo-cloud__cloud-title h5">{{ cloudTitle }}</h3>
  {% endif %}

  {% if logos %}
  <div class="logo-cloud__logos">
    {% for logo in logos %}
      {% include '@twig/components/logo/logo.html.twig' with logo.entity only %}
      {% endfor %}
    </div>
  {% endif %}
</section>