:--buttons,
:--buttons.button {
  background-color: var(--primary);
  font-size: var(--font-xs);
  padding: var(--space-100) var(--space-200);
  color: var(--white);
  border: none;
  display: table;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    cursor: default;
  }
}
