{% set classes = [
  'footer-menu__navigation',
  class
]|join(' ') %}
<nav class="{{ classes }}">
  <ul class="footer-menu__items">
    {% for link in menu.links %}
      <li>
        <a class="footer-menu__link" href="{{ link.url.path }}">
          {{ link.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
