.footer-menu {
  &__items {
    @media (--desktop-up) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @media (--desktop-down) {
      &:not(:last-child) {
        @mixin content-margin-bottom;
      }
    }

    & + & {
      @media (--desktop-up) {
        margin-left: var(--space-500);
      }
    }
  }

  &__link {
    color: var(--white);

    &:--link-states {
      color: var(--white);
      text-decoration: underline;
    }

    @media (--desktop-down) {
      @mixin content-margin-bottom;

      text-decoration: underline;
    }
  }
}
