.footer-menu {
  &__items {
    list-style: none;

    @media (--desktop-up) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    & + & {
      @media (--desktop-up) {
        margin-left: var(--space-500);
      }
    }
  }

  &__link {
    @media (--desktop-down) {
      text-decoration: underline;
    }
  }
}
