<nav class="footer-menu__navigation inner">
  <ul class="footer-menu__items">
    {% for link in menu.links %}
      <li class="footer-menu__item">
        <a class="footer-menu__link" href="{{ link.url.path }}">
          {{ link.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
