:root {
  --white: #fff;
  --black: #000;
  --dark-grey: #292929;
  --grey: #585858;
  --light-grey: #f8f8f8;
  --blue: #0678be;
  --dark-blue: #0e1f2f;
  --teal-blue: #254757;
  --red: #d52b1e;

  --primary: var(--blue);
  --primary-dark: var(--dark-blue);
}
