@define-mixin font-regular {
  font-family: var(--font-family-regular);
  font-weight: var(--weight-m);
}

@define-mixin section-padding {
  padding-top: var(--space-600);
  padding-bottom: var(--space-600);

  @media (--desktop-up) {
    padding-top: var(--space-1400);
    padding-bottom: var(--space-1400);
  }
}

@define-mixin content-margin-bottom {
  margin-bottom: var(--space-300);

  @media (--desktop-up) {
    margin-bottom: var(--space-400);
  }
}

@define-mixin aspect-ratio-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  img,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }
}

@define-mixin list {
  /* stylelint-disable no-descending-specificity */
  ol,
  ul {
    @mixin content-margin-bottom;

    ol,
    ul {
      margin: var(--space-200) 0;
      padding-left: var(--space-300);
    }

    li {
      margin-bottom: var(--space-200);
      padding-left: var(--space-100);
    }
  }

  ol {
    list-style-type: none;
    counter-reset: step-counter;

    li {
      padding-left: 0;

      &::before {
        counter-increment: step-counter;
        content: counter(step-counter) '.';
        margin-right: var(--space-100);
      }
    }
  }

  ul {
    list-style: disc outside;
    padding-left: var(--space-200);

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }
  /* stylelint-enable no-descending-specificity */
}

@define-mixin table {
  table {
    @mixin content-margin-bottom;

    width: 100%;

    thead,
    tfoot {
      background-color: var(--light-grey);
    }

    th,
    td {
      padding: var(--space-200) var(--space-100);
      text-align: left;

      > * {
        color: inherit;
        margin-bottom: 0;
      }
    }

    tbody {
      background-color: var(--white);

      tr + tr {
        border-top: 1px solid var(--grey);
      }
    }
  }

  .table {
    @mixin content-margin-bottom;

    overflow-x: auto;
    min-width: 100%;
    width: 0;

    table {
      margin-bottom: 0;
    }
  }
}

@define-mixin overlay {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    mix-blend-mode: multiply;
    z-index: 0;
  }
}

@define-mixin object-fit {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  img {
    position: absolute;
    object-fit: cover;
    object-position: center center;
  }
}
