@define-mixin font-regular {
  font-family: var(--font-family-regular);
  font-weight: var(--weight-m);
}

@define-mixin component-margin {
  margin: var(--space-500) 0;

  @media (--desktop-up) {
    margin: var(--space-1200) 0;
  }
}

@define-mixin section-padding {
  padding-top: 3em;
  padding-bottom: 3em;

  @media (--desktop-up) {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}

@define-mixin aspect-ratio-16-9 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  img,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }
}

@define-mixin list {
  /* stylelint-disable no-descending-specificity */
  ol,
  ul {
    margin-left: var(--space-200);
    margin-bottom: var(--space-300);

    ol,
    ul {
      margin-top: var(--space-200);
      margin-bottom: 0;
    }

    li {
      margin-bottom: var(--space-200);
    }
  }

  ol {
    list-style-position: outside;

    &:not([type]) {
      list-style-type: decimal;
    }

    &:not([type]).is-lower-alpha {
      list-style-type: lower-alpha;
    }

    &:not([type]).is-lower-roman {
      list-style-type: lower-roman;
    }

    &:not([type]).is-upper-alpha {
      list-style-type: upper-alpha;
    }

    &:not([type]).is-upper-roman {
      list-style-type: upper-roman;
    }
  }

  ul {
    list-style: disc outside;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }
  /* stylelint-enable no-descending-specificity */
}

@define-mixin overlay {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    mix-blend-mode: multiply;
    z-index: 0;
  }
}

@define-mixin object-fit {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  img {
    position: absolute;
    object-fit: cover;
    object-position: center right;
  }
}
