@define-mixin font-regular {
  font-family: var(--font-family-regular);
  font-weight: normal;
}

@define-mixin font-light {
  font-family: var(--font-family-light);
  font-weight: normal;
}

@define-mixin margin-top {
  margin-top: var(--space-200);

  @media (--desktop-up) {
    margin-top: var(--space-300);
  }
}

@define-mixin margin-bottom {
  margin-bottom: var(--space-200);

  @media (--desktop-up) {
    margin-bottom: var(--space-300);
  }
}

@define-mixin component-margin-bottom {
  margin-bottom: var(--space-500);

  @media (--desktop-up) {
    margin-bottom: var(--space-1000);
  }
}

@define-mixin link {
  color: var(--grey);
  text-decoration: none;

  &:--link-states {
    color: var(--grey);
    text-decoration: underline;
  }
}

@define-mixin link-black {
  color: var(--black);

  &:--link-states {
    color: var(--black);
    text-decoration: underline;
  }
}
