:root {
  /* Spacing */
  --space-50: 4px;
  --space-100: 8px; /* Base margin size */
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;
  --space-1200: 96px;
  /* Header sizes */
  --top-header-height: 42px;
  --bottom-header-height: 95px;
  /* Page max */
  --max-width: 1280px;
  --max-height: 70rem;
  /* Button Spacing */
  --space-default-btn: 12px;
}
