:root {
  /* Spacing */
  --space-50: 4px;
  --space-100: 8px; /* Base margin size */
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-700: 56px;
  --space-1200: 96px;
  /* Header sizes */
  --header-height: 70px;
  /* Page max */
  --max-width: 1440px;
  /* Media height */
  --media-height-desktop: 85vh;
  --media-height-mobile: 55vh;
}
