:root {
  /* Spacing */
  --space-50: 4px;
  --space-100: 8px; /* Base margin size */
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-700: 56px;
  --space-1200: 96px;
  --space-1400: 112px;
}
