@define-mixin default-action {
  background-color: var(--primary);
  font-size: var(--font-xs);
  padding: var(--space-100) var(--space-300);
  color: var(--white);
  border: 2px solid var(--primary);
  display: table;
  cursor: pointer;
  text-transform: uppercase;

  &:--link-states {
    color: var(--white);
  }

  &:disabled {
    opacity: 0.8;
    cursor: default;
  }

  &.invert {
    background-color: transparent;
    border-color: var(--white);
  }
}

/* stylelint-disable no-descending-specificity */
.action,
:--buttons.action {
  @mixin default-action;

  &__icon {
    padding-left: var(--space-700);
    background-repeat: no-repeat;
    background-position: left 32px center;
    background-position: left 1.5em center;
    background-size: 1.5em 1.7em;

    &--google {
      background-image: url('../icons/google.svg');
    }

    &--slack {
      background-image: url('../icons/google.svg');
    }

    &--twitter {
      background-image: url('../icons/google.svg');
    }

    &--drupal {
      background-image: url('../icons/google.svg');
    }

    &--meetup {
      background-image: url('../icons/google.svg');
    }
  }
}

:--buttons {
  @mixin default-action;
}
/* stylelint-enable no-descending-specificity */
