/* stylelint-disable no-descending-specificity */
.action,
:--buttons,
:--buttons.action {
  background-color: var(--blue);
  font-size: var(--font-xs);
  font-weight: var(--weight-l);
  letter-spacing: var(--letter-spacing-extra);
  line-height: var(--line-height-default);
  padding: var(--space-100) var(--space-300);
  color: var(--white);
  border: 2px solid var(--blue);
  display: table;
  cursor: pointer;
  text-transform: uppercase;

  &:--link-states {
    color: var(--white);
  }

  &:disabled {
    opacity: 0.8;
    cursor: default;
  }

  &.invert {
    background-color: transparent;
    border-color: var(--white);
  }

  .icon {
    margin-right: var(--space-100);
  }
}
/* stylelint-enable no-descending-specificity */
