:root {
  --disabled-opacity: 0.7;
}

/* stylelint-disable no-descending-specificity, max-nesting-depth */
.button,
:--buttons.button {
  @mixin font-regular;

  padding: var(--space-default-btn) var(--space-300);
  text-align: center;
  border: 1px solid var(--grey);
  background-color: var(--white);
  cursor: pointer;
  width: auto;
  text-decoration: none;
  font-size: var(--font-xs);
  display: table;
  line-height: var(--line-height-s);
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--blue);
    color: var(--blue);
  }

  &:active {
    background-color: var(--blue);
    color: var(--white);
  }

  &:disabled {
    color: inherit;
    cursor: default;
    opacity: var(--disabled-opacity);
  }

  &--small {
    padding: var(--space-100) var(--space-200);
  }

  &--checkbox,
  &--radio {
    color: var(--grey);
    padding: 0;
    position: relative;

    &,
    &:hover,
    &:active {
      border-color: transparent;
      background-color: var(--white);
    }

    label {
      display: inline-block;
      padding: var(--space-default-btn) var(--space-300) var(--space-default-btn) var(--space-600);
      cursor: pointer;
      border: 1px solid var(--light-grey);
      position: relative;
      transition: all 0.3s ease;
    }

    input {
      position: absolute;
      top: 11px;
      left: 20px;
    }

    &:hover {
      label {
        color: var(--black);
        border-color: var(--black);
      }
    }

    input:checked + label {
      color: var(--blue);
      border-color: var(--blue);
    }
  }

  &--radio {
    input {
      top: 10px;
    }
  }

  &--icon {
    color: var(--blue);
    background-color: var(--white);
    border-color: var(--blue);
    padding: var(--space-default-btn) var(--space-300) var(--space-default-btn) var(--space-600);
    position: relative;

    &::before {
      content: '';
      width: var(--icon-width-medium);
      height: var(--icon-width-medium);
      display: inline-block;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 7px;
      left: var(--space-200);
    }

    &:hover,
    &:active {
      color: var(--white);
      background-color: var(--blue);
      border-color: var(--blue);
    }
  }
}
/* stylelint-enable no-descending-specificity */
