@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200,400,700&display=swap');

:root {
  /* font sizing */
  --font-xxs: 1.2rem;
  --font-xs: 1.4rem;
  --font-p: 1.6rem;
  --font-s: 1.8rem;
  --font-h4: 2.1rem;
  --font-h3: 2.4rem;
  --font-h2: 2.8rem;
  --font-h1: 3.8rem;
  --font-xl: 4.4rem;
  /* line height */
  --line-height-default: 1.4;
  --line-height-s: 1;

  /* letter spacing */
  --letter-spacing-extended: 0.05em;

  /* letter spacing */
  --weight-s: 200;
  --weight-m: 400;
  --weight-l: 700;

  /* font family */
  --font-family-regular: 'Gothic A1', 'Neue Helvetica', Helvetica, sans-serif;
}
