@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200,400,700&display=swap');

:root {
  /* font sizing */
  --font-xxs: 1.2rem;
  --font-xs: 1.4rem;
  --font-p: 1.6rem;
  --font-s: 1.8rem;
  --font-m: 2.4rem;
  --font-l: 3.2rem;
  --font-xl: 5.4rem;
  --font-xxl: 7.2rem;

  /* line height */
  --line-height-default: 1.4;
  --line-height-s: 1;

  /* letter spacing */
  --letter-spacing-medium: 0.02em;
  --letter-spacing-extended: 0.05em;
  --letter-spacing-extra: 0.2em;

  /* letter spacing */
  --weight-s: 200;
  --weight-m: 400;
  --weight-l: 700;

  /* word spacing */
  --word-spacing-medium: 0.5rem;

  /* font family */
  --font-family-regular: 'Gothic A1', 'Neue Helvetica', Helvetica, sans-serif;
}

@media (--desktop-up) {
  :root {
    /* font sizing */
    --font-xxs: 1.2rem;
    --font-xs: 1.4rem;
    --font-p: 1.6rem;
    --font-s: 1.8rem;
    --font-m: 3.2rem;
    --font-l: 4.4rem;
    --font-xl: 6.4rem;
    --font-xxl: 9.6rem;
  }
}
