html {
  scroll-behavior: smooth;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

/* Removes outline on touch devices */
@media (hover: none) and (pointer: coarse) {
  :--link-states {
    /* stylelint-disable-next-line */
    outline: 0 !important;
  }
}

blockquote {
  background-color: var(--light-grey);
  border-left: var(--space-50) solid var(--dark-grey);
  padding: var(--space-200) var(--space-300);
}
