:root {
  /* Icon sizes */
  --icon-width-small: 18px;
  --icon-width-medium: 25px;
  --icon-width: 35px;
  --icon-width-large: 50px;
}

.icon {
  background-position: center center;
  width: var(--icon-width);
  height: var(--icon-width);
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;

  &.small {
    height: var(--icon-width-small);
    width: var(--icon-width-small);
  }

  &.medium {
    height: var(--icon-width-medium);
    width: var(--icon-width-medium);
  }

  &.large {
    height: var(--icon-width-large);
    width: var(--icon-width-large);
  }

  /* Main icons */
  &.arrow-down-blue {
    background-image: url(./../icons/arrow-down-blue.svg);
  }

  &.checkmark-white {
    background-image: url(./../icons/checkmark-white.svg);
  }

  &.close-white {
    background-image: url(./../icons/close-white.svg);
  }

  &.menu-blue {
    background-image: url(./../icons/menu-blue.svg);
  }

  /* Message icons */
  &.messages-check {
    background-image: url(./../icons/messages-check.svg);
  }

  &.messages-error {
    background-image: url(./../icons/messages-error.svg);
  }

  &.messages-warning {
    background-image: url(./../icons/messages-warning.svg);
  }

  /* Teaser icons */
  &.collaboration-blue {
    background-image: url(./../icons/teaser/collaboration-blue.svg);
  }

  &.collaboration {
    background-image: url(./../icons/teaser/collaboration.svg);
  }

  &.idea-blue {
    background-image: url(./../icons/teaser/idea-blue.svg);
  }

  &.idea {
    background-image: url(./../icons/teaser/idea.svg);
  }

  &.identity-blue {
    background-image: url(./../icons/teaser/identity-blue.svg);
  }

  &.identity {
    background-image: url(./../icons/teaser/identity.svg);
  }

  &.jigsaw-blue {
    background-image: url(./../icons/teaser/jigsaw-blue.svg);
  }

  &.jigsaw {
    background-image: url(./../icons/teaser/jigsaw.svg);
  }

  &.networking-group-blue {
    background-image: url(./../icons/teaser/networking-group-blue.svg);
  }

  &.networking-group {
    background-image: url(./../icons/teaser/networking-group.svg);
  }

  &.web-blue {
    background-image: url(./../icons/teaser/web-blue.svg);
  }

  &.web {
    background-image: url(./../icons/teaser/web.svg);
  }

  /* Social icons */
  &.google-white {
    background-image: url('../icons/social/google-white.svg');
  }

  &.slack-white {
    background-image: url('../icons/social/slack-white.svg');
  }

  &.twitter-white {
    background-image: url('../icons/social/twitter-white.svg');
  }

  &.drupal-white {
    background-image: url('../icons/social/google-white.svg');
  }

  &.meetup-white {
    background-image: url('../icons/social/google-white.svg');
  }

  /* Sponsor icons */
  &.amazeeio {
    background-image: url('../icons/sponsor/amazeeio.svg');
  }

  /* Logo icons */
  &.logo {
    background-image: url('../icons/logo/logo.png');
  }
}
