.inner {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 0 var(--space-200);

  @media (--desktop-up) {
    padding: 0 var(--space-400);
  }
}

.two-columns {
  @media (--desktop-up) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__column {
      flex: 1 1 50%;
    }
  }
}

.three-columns {
  @media (--desktop-up) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__column {
      flex: 0 0 33.333%;
    }
  }
}
