html {
  font-size: 62.5%;
  line-height: var(--line-height-default);
}

body {
  @mixin font-regular;

  font-size: var(--font-p);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-medium);
}

strong {
  font-weight: var(--weight-l);
}

/* stylelint-disable no-descending-specificity */
:--buttons:not(.default),
:--typographic-block-elements {
  margin-bottom: var(--space-300);
  line-height: var(--line-height-default);
}

a,
:--typographic-block-elements {
  color: var(--dark-blue);
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;

  .invert & {
    color: var(--white);
  }
}

a,
a:--link-states {
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
}
/* stylelint-enable no-descending-specificity */

h1,
.h1 {
  text-transform: uppercase;
  font-size: var(--font-xl);
  font-weight: var(--weight-l);
  word-spacing: var(--word-spacing-medium);

  @media (--desktop-up) {
    font-size: var(--font-xxl);
  }
}

h2,
.h2 {
  text-transform: uppercase;
  font-size: var(--font-l);
  font-weight: var(--weight-l);
  letter-spacing: var(--letter-spacing-medium);
  word-spacing: var(--word-spacing-medium);

  @media (--desktop-up) {
    font-size: var(--font-xl);
  }
}

h3,
.h3 {
  font-size: var(--font-m);
  font-weight: var(--weight-l);
  letter-spacing: var(--letter-spacing-medium);
  word-spacing: var(--word-spacing-medium);

  @media (--desktop-up) {
    font-size: var(--font-l);
  }
}

h4,
.h4 {
  font-size: var(--font-s);
  word-spacing: var(--word-spacing-medium);

  @media (--desktop-up) {
    font-size: var(--font-m);
  }
}

h5,
.h5 {
  color: var(--dark-blue);
  font-size: var(--font-s);
  word-spacing: var(--word-spacing-medium);
}

h6,
.h6 {
  font-size: var(--font-p);
  word-spacing: var(--word-spacing-medium);
}

.tag {
  font-size: var(--font-xxs);
  font-weight: var(--weight-l);
  letter-spacing: var(--letter-spacing-extended);
  text-transform: uppercase;
  margin-bottom: var(--space-200);
  color: var(--dark-blue);
  padding-left: var(--space-400);
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    border-top: 2px solid var(--dark-blue);

    .invert & {
      border-color: var(--white);
    }
  }
}

.invert {
  color: var(--white);
}

.wysiwyg {
  @mixin list;

  > *:last-child {
    margin-bottom: 0;
  }
}
