html {
  font-size: 62.5%;
  line-height: var(--line-height-default);
}

body {
  @mixin font-regular;

  font-size: var(--font-p);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-medium);
}

strong {
  font-weight: var(--weight-l);
}

:--buttons,
:--typographic-block-elements {
  margin-bottom: var(--space-300);
  line-height: var(--line-height-default);
}

a,
:--typographic-block-elements {
  color: var(--dark-blue);
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;

  .invert & {
    color: var(--white);
  }
}

/* stylelint-disable-next-line no-descending-specificity */
a,
a:--link-states {
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
}

h1,
.h1 {
  text-transform: uppercase;
  font-size: var(--font-xl);
  font-weight: var(--weight-l);

  @media (--desktop-up) {
    font-size: var(--font-xxl);
  }
}

h2,
.h2 {
  text-transform: uppercase;
  font-size: var(--font-m);
  font-weight: var(--weight-l);

  @media (--desktop-up) {
    font-size: var(--font-l);
  }
}

h3,
.h3 {
  font-size: var(--font-s);
  font-weight: var(--weight-l);

  @media (--desktop-up) {
    font-size: var(--font-m);
  }
}

h4,
.h4 {
  font-size: var(--font-s);
}

h5,
.h5 {
  color: var(--dark-blue);
  font-size: var(--font-s);
}

h6,
.h6 {
  font-size: var(--font-p);
}

.invert {
  color: var(--white);
}

.wysiwyg {
  @mixin list;
}
