<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="link-bg-media invert">
  {% if media.entity is not empty %}
    <div class="link-bg-media__media">
      {% include '@storybook/components/embed-media/embed-media.html.twig' with {
        media: media
      } only %}
    </div>
  {% endif %}

  <div class="link-bg-media__content--wrapper inner">
    <div class="link-bg-media__content">
      {% if title %}
        <h2 class="h3">{{ title }}</h2>
      {% endif %}

      {% if links and links is not empty %}
        <div class="link-bg-media__links">
          {% for link in links %}
            <div class="link-bg-media__link">
              {% include '@storybook/components/link/link.html.twig' with {
                link: link.entity.link,
                class: link.entity.class,
                isInvert: true
              } only %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
