:root {
  --link-bg-media-height: 35rem;
}

.link-bg-media {
  @mixin overlay;

  display: flex;
  position: relative;
  height: auto;
  overflow: hidden;
  min-height: var(--link-bg-media-height);

  &__media {
    @mixin object-fit;

    min-height: var(--link-bg-media-height);
  }

  &__content {
    @mixin section-padding;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &--wrapper {
      position: relative;
      z-index: 1;
    }
  }

  &__links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    @media (--desktop-up) {
      flex-direction: row;
    }
  }

  &__link {
    @mixin content-margin-bottom;

    @media (--desktop-up) {
      & + & {
        margin-left: var(--space-500);
      }
    }
  }
}
