<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="text inner">
  {% if title %}
    {% include '@storybook/components/tagline/tagline.html.twig' with {
      tagline: tagline,
      title: title,
      variant: 'small'
    } only %}
  {% endif %}

  {% if text and text.processed is not empty %}
    <div class="text__content-text wysiwyg">{{ text.processed | raw }}</div>
  {% endif %}

  {% if link.entity.link and link.entity.link is not empty %}
    <div class="text__action">
      {% include '@storybook/components/link/link.html.twig' with {
        link: link.entity.link,
        class: link.entity.class
      } only %}
    </div>
  {% endif %}
</section>
