{% set hasMedia = embedMedia.entity.media is not empty %}
<section {{ componentId ? 'id='~ (componentId | clean_class) : '' }} class="text inner">
  <div class="two-columns {{ embedMedia.entity.position }} with{{ hasMedia ? '-media' : 'out-media' }}">
    <div class="two-columns__column">
      {% if hasMedia %}
        <div class="text__media">
          {% include '@storybook/components/embed-media/embed-media.html.twig' with embedMedia.entity only %}
        </div>
      {% else %}
        <div class="text__tagline">
          {% include '@storybook/components/tagline/tagline.html.twig' with {
            tagline: tagline,
            title: title
          } only %}
        </div>
      {% endif %}
    </div>
    <div class="two-columns__column">
      <div class="text__content">
        {% if hasMedia %}
          {% include '@storybook/components/tagline/tagline.html.twig' with {
            tagline: tagline,
            title: title,
            variant: 'small'
          } only %}
        {% endif %}

        {% if text and text.processed is not empty %}
          <div class="text__content-text wysiwyg">{{ text.processed | raw }}</div>
        {% endif %}

        {% if entityLink is not empty %}
          {% include '@storybook/components/link/link.html.twig' with {
            link: entityLink.entity.link,
            class: entityLink.entity.class
          } only %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
