.text {
  &.inner {
    @mixin section-padding;
  }

  .without-media {
    .two-columns__column {
      flex: 1 1 50%;

      &:first-child {
        flex: 1 1 35%;
      }
    }
  }

  &__media {
    padding-top: var(--space-500);
    padding-left: var(--space-500);

    @media (--desktop-down) {
      margin-bottom: var(--space-700);
    }

    &--image {
      position: relative;

      &::after {
        content: '';
        display: block;
        border: 6px solid var(--primary);
        top: 0;
        left: 0;
        right: var(--space-500);
        bottom: var(--space-500);
        position: absolute;
      }
    }
  }
}
