.text {
  @mixin component-margin-bottom;
  @mixin section-padding;

  &.hero {
    .text__content h1 {
      text-transform: uppercase;
      color: var(--white);
      font-size: var(--size-xl);
    }
  }

  .embed--right {
    flex-direction: row-reverse;
  }

  &__content {
    padding-top: var(--space-200);

    @media (--desktop-up) {
      padding-top: 0;
      padding-left: var(--space-200);
    }
  }

  .bg-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.relative,
  &__content.relative {
    position: relative;
  }

  &__media {
    position: relative;

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      border: 0.2em solid var(--primary-light);
    }
  }

  .embed--left .text__media::after {
    bottom: -1.2em;
    right: -1.2em;
  }

  .embed--right .text__media::after {
    top: -1.2em;
    left: -1.2em;
  }
}
