<zi-slider class="slider swiper-container">
  <div {{ componentId ? 'id='~ (componentId | clean_class) : '' }} class="swiper-wrapper">
    {% include '@storybook/components/highlight-slider/highlight-slide/highlight-slide.html.twig' with {
      slider: slider
    } only %}
  </div>
  <div class="swiper-pagination"></div>
</zi-slider>
