.text-with-media {
  &.inner {
    @mixin section-padding;
  }

  &__media {
    @media (--desktop-down) {
      margin-bottom: var(--space-700);
    }

    &--image {
      @media (--desktop-up) {
        position: relative;
        padding: var(--space-400) 0 0 var(--space-400);

        /* stylelint-disable max-nesting-depth */
        .left & {
          padding: 0 var(--space-400) var(--space-400) 0;
        }

        &::after {
          content: '';
          border: 6px solid var(--blue);
          position: absolute;
          top: 0;
          left: 0;
          right: var(--space-400);
          bottom: var(--space-400);

          .left & {
            top: var(--space-400);
            left: var(--space-400);
            right: 0;
            bottom: 0;
          }
          /* stylelint-enable max-nesting-depth */
        }
      }

      .embed-media {
        @mixin aspect-ratio-16-9;
      }
    }
  }

  .text.inner {
    padding: 0;
  }
}
