.text-with-media {
  &.inner {
    @mixin section-padding;
  }

  &__media {
    @media (--desktop-down) {
      margin-bottom: var(--space-700);
    }

    &--image {
      position: relative;

      &::after {
        content: '';
        border: 6px solid var(--blue);
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  @media (--desktop-up) {
    .two-columns.right .text-with-media__media--image {
      padding-top: var(--space-400);
      padding-left: var(--space-400);

      &::after {
        display: block;
        right: var(--space-400);
        bottom: var(--space-400);
      }
    }

    .two-columns.left .text-with-media__media--image {
      padding-bottom: var(--space-400);
      padding-right: var(--space-400);

      &::after {
        display: block;
        top: var(--space-400);
        left: var(--space-400);
      }
    }
  }

  .text.inner {
    padding: 0;
  }
}
