<section {{ text.entity.componentId ? 'id=' ~ (text.entity.componentId | clean_class) : '' }} class="text-with-media inner">
  <div class="two-columns {{ media.entity.position }}">
    <div class="two-columns__column">
      {% if media %}
        <div class="text-with-media__media {{ media.entity.media.entity.type == 'MediaImage' ? 'text-with-media__media--image' : '' }}">
          {% include '@twig/components/embed-media/embed-media.html.twig' with media.entity only %}
        </div>
      {% endif %}
    </div>
    <div class="two-columns__column">
      {% include '@twig/components/text/text.html.twig' with text.entity | merge({
        componentId: null
      }) only %}
    </div>
  </div>
</section>