<section class="text-with-media inner">
  <div class="two-columns {{ embedMedia.entity.position }}">
    <div class="two-columns__column">
      {% if embedMedia %}
        <div class="text-with-media__media {{ embedMedia.entity.media.entity.type == 'MediaImage' ? 'text-with-media__media--image' : '' }}">
          {% include '@storybook/components/embed-media/embed-media.html.twig' with embedMedia.entity only %}
        </div>
      {% endif %}
    </div>
    <div class="two-columns__column">
      {% include '@storybook/components/text/text.html.twig' with text.entity only %}
    </div>
  </div>
</section>
