:root {
  --teaser-icon-size: 64px;
}

.icon-teaser {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  &__icon {
    @mixin content-margin-bottom;

    width: var(--teaser-icon-size);
    height: var(--teaser-icon-size);
    box-shadow: var(--shadow-30);
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-transform: unset;
  }
}
