:root {
  --teaser-icon-size: 64px;
}

.icon-teaser {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;

  &__icon {
    width: var(--teaser-icon-size);
    height: var(--teaser-icon-size);
    box-shadow: var(--shadow-30);
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-200);
  }

  &__title {
    text-transform: unset;
  }
}
