<section {{ componentId ? 'id='~ (componentId | clean_class) : '' }} class="icon-teaser">
  {% if icon %}
    <div class="icon-teaser__icon">
      <span class="icon {{ icon }}-blue"></span>
    </div>
  {% endif %}
  {% if title %}
    <h2 class="icon-teaser__title h5">{{ title }}</h2>
  {% endif %}
  {% if text %}
    <div class="icon-teaser__text">{{ text.processed | raw }}</div>
  {% endif %}
</section>
