<div class="swiper-slide highlight-slide slide">
  <div class="inner invert two-columns {{ position }}">
    <div class="two-columns__column slide__content">
      {% include '@twig/components/tagline/tagline.html.twig' with {
        tagline: tagline,
        title: title
      } only %}
      {% if link.entity.link and link.entity.link is not empty %}
        {% include '@twig/components/link/link.html.twig' with {
          link: link,
          isInvert: true
        } only %}
      {% endif %}
    </div>
    {% if media is not empty %}
      <div class="highlight-slide__images">
        {% for mediaItem in media %}
          <div class="highlight-slide__image">
            {% include '@twig/components/embed-media/embed-media.html.twig' with {
              media: mediaItem,
              responsiveStyle: {
                large: 'rect9x16Large',
                medium: 'rect9x16Medium',
                small: 'rect9x16Small'
              }
            } only %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
