.highlight-slide {
  &__images {
    @media (--desktop-up) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      width: 60%;
    }
  }

  &__image {
    @media (--desktop-up) {
      width: 45%;
      overflow: hidden;
      position: relative;
      margin-left: auto;
      margin-right: 5%;
    }

    .embed-media {
      @mixin object-fit;
    }
  }
}
