<div class="forum">
  <section class="text inner">
    {% if body %}
      {% include '@twig/components/body/body.html.twig' with {
        text: body
      } only %}
    {% endif %}
  </section>
</div>
