<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="text-bg-media invert">
  {% if media.entity is not empty %}
    <div class="text-bg-media__media">
      {% include '@storybook/components/embed-media/embed-media.html.twig' with {
        media: media
      } only %}
    </div>
  {% endif %}

  <div class="text-bg-media__content--wrapper inner">
    <div class="text-bg-media__content">
      {% if isHero %}
        <h1 class="text-bg-media__title">{{ heroTitle }}</h1>
      {% else %}
        <h2>{{ title }}</h2>
        {% if text and text is not empty %}
          <div class="text-bg-media__text wysiwyg">{{ text.processed | raw }}</div>
        {% endif %}
        {% if link.entity.link and link.entity.link is not empty %}
          <div class="text-bg-media__action">
            {% include '@storybook/components/link/link.html.twig' with {
              link: link.entity.link,
              class: link.entity.class,
              isInvert: true
            } only %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>
