<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="text-bg-media invert">
  {% if media.entity is not empty %}
    <div class="text-bg-media__media">
      {% include '@storybook/components/embed-media/embed-media.html.twig' with {
        media: media,
        responsiveStyle: {
          large: 'rect16x9Large',
          medium: 'rect16x9Medium',
          small: 'rect16x9Small'
        }
      } only %}
    </div>
  {% endif %}

  <div class="text-bg-media__content--wrapper inner">
    <div class="text-bg-media__content">
      {% if isHero %}
        <h1 class="text-bg-media__title h2">{{ heroTitle }}</h1>
      {% else %}
        <h2>{{ title }}</h2>
      {% endif %}
      {% if text and text is not empty %}
        <div class="text-bg-media__text wysiwyg">{{ text.processed | raw }}</div>
      {% endif %}
      {% if link.entity.link and link.entity.link is not empty %}
        <div class="text-bg-media__action">
          {% include '@storybook/components/link/link.html.twig' with {
            link: link.entity.link,
            class: link.entity.class,
            isInvert: true
          } only %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
