<div class="swiper-slide slide">
  <div class="inner invert two-columns {{ position }}">
    <div class="two-columns__column slide__content">
      {% include '@storybook/components/tagline/tagline.html.twig' with {
        tagline: tagline,
        title: title
      } only %}
      {% if link and link is not empty %}
        {% include '@storybook/components/link/link.html.twig' with {
          link: link,
          isInvert: true
        } only %}
      {% endif %}
    </div>
    {% if media is not empty %}
      <div class="slide__image two-columns__column">
        {% include '@storybook/components/embed-media/embed-media.html.twig' with {
          media: media
        } only %}
      </div>
    {% endif %}
  </div>
</div>
