<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="manual-teaser relative {{ class }}">
  <div class="manual-teaser__content relative">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if text %}
      <div class="manual-teaser__content-text">{{ text.processed | raw }}</div>
    {% endif %}
  </div>
</section>
