<zi-slider class="slider swiper-container">
  <div {{ componentId ? 'id='~ componentId : null }} class="swiper-wrapper">
    {% include '@storybook/components/slider/slide/slide.html.twig' with {
      slider: slider
    } only %}
  </div>
  <div class="swiper-pagination"></div>
</zi-slider>
