.slider {
  @mixin component-margin-bottom;

  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: block;

  /* Override swiper base styling */
  &.swiper-container {
    display: block;

    .swiper-slide {
      justify-content: center;

      @media (--desktop-up) {
        height: auto;
      }
    }

    .swiper-pagination-bullet {
      background-color: transparent;
      border: 1px solid var(--grey);
      height: 10px;
      width: 10px;
      border-radius: 0;
      opacity: 1;

      &:only-child {
        visibility: hidden;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: var(--blue);
      border-color: var(--blue);
    }
  }
}

.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-width);
  height: var(--icon-width);
  z-index: 10;
  cursor: pointer;
}

.swiper-button--prev {
  left: 0;
  right: auto;
}

.swiper-button--next {
  right: 0;
  left: auto;
}
