<ds-slider {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }}>
  <div class="slider swiper-container">
    <div class="swiper-wrapper">
      {% block slidecontent %}
        {% for slide in sliderSlides %}
          {% include '@twig/components/slider/slide/slide.html.twig' with slide.entity %}
        {% endfor %}
      {% endblock %}
    </div>
    <div class="swiper-pagination inner"></div>
  </div>
</ds-slider>
