.highlight {
  &.inner {
    @mixin section-padding;
  }

  &__without-title {
    &.two-columns {
      justify-content: center;
      text-align: center;
    }
  }

  &__with-title {
    .two-columns__column {
      flex: 1 1 50%;

      &:first-child {
        flex: 1 1 35%;
        padding-right: 5%;
      }
    }
  }
}
