<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="highlight inner">
  <div class="two-columns highlight__with{{ title ? '-title' : 'out-title'}}">
    {% if title %}
      <div class="two-columns__column">
        <div class="text__tagline">
          {% include '@twig/components/tagline/tagline.html.twig' with {
            tagline: tagline,
            title: title
          } only %}
        </div>
      </div>
    {% endif %}
    <div class="two-columns__column">
      {% if text and text.processed is not empty %}
        <div class="wysiwyg">{{ text.processed | raw }}</div>
      {% endif %}
    </div>
  </div>
</section>
