/* Local tasks (View, Edit, etc.) */
#block-canopy-local-tasks ul {
  margin-bottom: 2rem;
}

#block-canopy-local-tasks li {
  background: #f2f1f0;
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em 1em;
}

#block-canopy-local-tasks a.is-active {
  text-decoration: underline;
}

#block-canopy-branding {
  width: 10em;
}

div[data-drupal-messages],
#block-canopy-content > form,
#block-canopy-page-title,
#block-canopy-local-tasks {
  width: 100%;
  max-width: 1440px;
  margin: auto !important;
  padding: 0 16px !important;
}

#block-canopy-page-title {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

@media (min-width: 1024px) {
  div[data-drupal-messages],
  #block-canopy-content > form,
  #block-canopy-page-title,
  #block-canopy-local-tasks {
    padding: 0 32px !important;
  }

  #block-canopy-page-title {
    margin-top: 56px !important;
    margin-bottom: 56px !important;
  }
}
