/* Local tasks (View, Edit, etc.) */
#block-canopy-local-tasks li {
  display: inline-block;
  margin: 0 16px 24px 0;

  @media (min-width: 1024px) {
    margin-bottom: 32px;
  }
}

#block-canopy-local-tasks a {
  display: inline-block;
  padding: 8px 16px;
  background: #f2f1f0;
}

#block-canopy-local-tasks a.is-active {
  text-decoration: underline;
}

#block-canopy-branding {
  width: 10em;
}

div[data-drupal-messages],
#block-canopy-content > form,
#block-canopy-page-title,
#block-canopy-local-tasks {
  width: 100%;
  max-width: 1440px;
  margin: auto !important;
  padding: 0 16px !important;
}

#user-login-form .form-item,
#user-pass .form-item,
#user-register-form .form-item,
#edit-timezone > summary {
  margin-bottom: 24px;
}

#block-canopy-page-title {
  margin-top: 32px !important;
  margin-bottom: 24px !important;
}

#block-canopy-page-title > * {
  margin-bottom: 0;
}

#user-pass #edit-name {
  margin-bottom: 0;
}

.form-item .description,
.form-item + p {
  margin-top: -16px;
}

@media (min-width: 1024px) {
  div[data-drupal-messages],
  #block-canopy-content > form,
  #block-canopy-page-title,
  #block-canopy-local-tasks {
    padding: 0 32px !important;
  }

  #user-login-form .form-item,
  #user-pass .form-item,
  #user-register-form .form-item,
  #edit-timezone > summary {
    margin-bottom: 32px;
  }

  #block-canopy-page-title {
    margin-top: 56px !important;
    margin-bottom: 32px !important;
  }

  .form-item .description,
  .form-item + p {
    margin-top: -24px;
  }
}
