/* Local tasks (View, Edit, etc.) */
#block-canopy-local-tasks ul {
  margin-bottom: 2rem;
}

#block-canopy-local-tasks li {
  background: #f2f1f0;
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em 1em;
}

#block-canopy-local-tasks a.is-active {
  text-decoration: underline;
}
