.webform {
  padding-top: var(--space-600);
  padding-bottom: var(--space-600);

  &__title {
    margin-bottom: var(--space-300);
  }

  &__content {
    padding: var(--space-400);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
