<section {{ componentId ? 'id=' ~ (componentId | clean_class) : '' }} class="webform">
  <div class="webform__content">
    <h2>{{ title }}</h2>
  </div>
  <div class="webform__form">
    {{ webform.form }}
  </div>
</section>
