.icon-highlight {
  @mixin section-padding;

  background-color: var(--light-grey);

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }

  &__text {
    @mixin content-margin-bottom;

    @media (--desktop-up) {
      width: 50%;
    }
  }

  &__icon-teasers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__icon-teaser {
    @mixin content-margin-bottom;

    flex: 0 0 100%;

    @media (--desktop-up) {
      flex-basis: 22%;
      margin-right: 3%;
      margin-bottom: var(--space-700);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
