<section {{ componentId ? 'id='~ componentId : null }} class="teaser relative {{ class }}">
  <div class="teaser__content relative">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if text %}
      <div class="teaser__content-text">{{ text.processed | raw }}</div>
    {% endif %}
  </div>
</section>

{% include '@storybook/node/page/page--teaser.html.twig' with {
  type: paragraph.__typename,
  component: paragraph
} only %}