<header class="header inner">
  <a class="header__logo" href="/">
    {% include '@storybook/logo/logo.html.twig' %}
    <span class="header__logo--text">{{ 'Drupal Switzerland'|t }}</span>
  </a>

  {% if links %}
    <div class="header__main-menu">
      {% include '@storybook/menu/menu.html.twig' with {
        type: 'mainMenu',
        links: links
      } only %}
    </div>
  {% endif %}
</header>
