<header class="header inner">
  <a class="header__logo" href="/">
    <span class="header__logo--icon icon logo large"></span>
    <span class="header__logo--text">{{ 'Drupal Switzerland' | t }}</span>
  </a>

  {% if links %}
    <div class="header__main-menu">
      {% include '@twig/menu/menu.html.twig' with {
        type: 'mainMenu',
        links: links,
        is_front: is_front
      } only %}
    </div>
  {% endif %}
</header>
