:root {
  --header-height: 70px;
}

.header {
  height: var(--header-height);
  background-color: var(--white);
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;

    &--text {
      color: var(--teal-blue);
      font-weight: var(--weight-l);
      padding-left: var(--space-200);
    }

    &--icon {
      margin-top: -10px;
    }
  }
}
