<header class="header">
  <a class="header__logo spacing" href="/">
    {% include '@storybook/logo/logo.html.twig' %}
    <span class="header__logo--text">{{ 'Drupal Switzerland'|t }}</span>
  </a>

  {% if mainMenu %}
    <div class="main-menu">
      {% include '@storybook/menu/menu.html.twig' with {
        type: 'mainMenu',
        menu: mainMenu
      } only %}
    </div>
  {% endif %}
</header>
