{% if link %}
  <a href="{{ link.url.path }}" class="action {{ isInvert ? 'invert' : '' }}">
    {% if class is not empty %}
      <span class="icon {{ class }}-white small"></span>
    {% endif %}
    {{ link.title }}
  </a>
{% endif %}
