<section class="multi-column">
  {% for paragraph in column %}
    {% set paragraph = paragraph.entity %}
    {% include '@storybook/components/components.html.twig' with {
      type: paragraph.__typename,
      component: paragraph,
      hideSection: true
    } only %}
  {% endfor %}
</section>
